*{
    box-sizing: border-box;
  }
 
html, body{
    margin: 0;
}
  
body{
    height: 100vh;
    background-color: black;
    font-family: 'Heebo', sans-serif;
}

h1{
    margin: 0;
    color: white;
    text-align: start;
}

.large > *{
    font-size: 8rem;
    text-decoration: none;
    color: inherit;
}

.red{
    color: #EA0F1E;
}

.Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    height: 100vh;
}