*{
    box-sizing: border-box;
  }

:root{
    --dark: #090C10;
    --accent: #80ff72;
}
 
html, body{
    margin: 0;
    padding: 0;
}
  
body, #root{
    height: 100vh;
    background-color: var(--dark);
    font-family: 'Heebo', sans-serif;
}

h1, p{
    color: #F0F2F8;
}

main{
    height: 90%;
}