*{
    box-sizing: border-box;
  }

:root{
    --dark: #090C10;
    --dark--hover: #21262D;
    --accent: #80ff72;
    --light: #F0F2F8;
    --light--hover: #7C7E83;
}
 
html, body{
    margin: 0;
    padding: 0;
}
  
body{
    height: 100vh;
    width: 100vw;
    background-color: var(--dark);
    font-family: 'Heebo', sans-serif;
}

#root{
    height: 100%;
    width: 100%;
}

main{
    height: 80%;
}

.animate-rise{
    animation: animate-rise 0.4s ease-in;
    animation-fill-mode: backwards;
}

.animate-fall{
    animation: animate-fall 0.6s ease-in;
    animation-fill-mode: backwards;
}

.delay04{
    animation-delay: .4s;
}

.delay06{
    animation-delay: .6s;
}

@keyframes animate-rise{
    from{opacity: 0; transform: translateY(30%);}
    to{opacity: 1; transform: translateY(0);}
}

@keyframes animate-fall {
    from{opacity: 0; transform: translateY(-30%);}
    to{opacity: 1; transform: translateY(0);}
}

@media (max-width: 700px){
    html{
        font-size: 14px;
    }

    main{
        height: 70%;
    }
}

@media (max-width: 390px){
    html{
        font-size: 11px;
    }
}